# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres

# Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:8000 # Base URL of your backend

# Frontend
FRONTEND_URL=http://localhost:3000
VITE_API_URL=http://localhost:8000

# For test
HELLO=WORLD
